/* Global Styles and Variables */
:root {
    --dark: #082032;
    --medium: #2c394b;
    --light: #35d7ff;
    --accent: #ff6a3e;
    --sunny: #f7f339;
    --clouds: #939496;
    --rain: #5387e1;
    --snow: #ffffff;
    --clear: #87ceeb;
    --loader: #046d8b;
    --borderDefault: #131313;
    --bodyTextColorWhite: #fafbfc;
    --bodyTextColorGray: #313131;
    --error: #e82e00;

    --border_shadow: 0px 0px 10px 2px, inset 0px 0px 10px 2px;

    --headerFontSize: clamp(3rem, 2vw, 4rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColorGray);
    padding: 2rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

header div {
    margin: 1.5rem;
}

header section {
    margin-left: 100px;
}

.header-img {
    position: relative;
    max-width: 650px;
    scale: 1.2;
    z-index: -1;
}

h1 {
    color: red;
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
    padding: 1rem;
}

.card-title-container {
    display: flex;
}

.icon {
    width: 32px;
    height: 32px;
}

.icons {
    display: flex;
    align-self: flex-end;
    gap: 11px;
}